<.header>
  New Pet
  <:subtitle>Use this form to manage pet records in your database.</:subtitle>
</.header>

<.pet_form changeset={@changeset} species={@species} action={~p"/pets"} />

<.back navigate={~p"/users"}>Back to users</.back>
