<.header>
  Edit User device <%= @user_device.id %>
  <:subtitle>Use this form to manage user_device records in your database.</:subtitle>
</.header>

<.user_device_form changeset={@changeset} users={@users} action={~p"/user_devices/#{@user_device}"} />

<.back navigate={~p"/user_devices"}>Back to user_devices</.back>
