<.header>
  New User device
  <:subtitle>Use this form to manage user_device records in your database.</:subtitle>
</.header>

<.user_device_form changeset={@changeset} action={~p"/user_devices"} />

<.back navigate={~p"/user_devices"}>Back to user_devices</.back>
