<.header>
  New User
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>
<.user_form changeset={@changeset} countries={@countries} action={~p"/users"} />
<.back navigate={~p"/users"}>Back to users</.back>
